@title: 'Nanum Gothic', sans-serif;
@paragraph: 'Namum Gothic', sans-serif;

body {
  margin-top: 50px;

  #home_banner {
    width: 100%;
  }

  #hor3articles {
    article {
      display: inline-block;
      padding: 20px;
      width: calc(33% - 40px);
      vertical-align: text-top;

      h2 {
        font-family: @title;
        margin-bottom: 15px;
      }

      h3 {
        font-family: @paragraph;
      }

      h4 {
        font-family: @paragraph;
      }

      hr {
        margin-bottom: 15px;
      }

      p {
        font-family: @paragraph;
        text-align: justify;
        margin-bottom: 20px;
      }

      .showml {
        width: 100%;
        border: none;
        background-color: transparent;
        padding: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      ul {
        li {
          font-family: @paragraph;
          list-style-type: none;
        }

        .bullet {
          list-style-type: circle;
          list-style-position: inside;
        }
      }
    }
  }
}