@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

@nanumGothic: 'Nanum+Gothic', sans-serif;

article {
  div {
    clear: both;
    padding: 10px;
    img {
      float: left;
      margin-right: 10px;
      width: 200px;
    }

    h1 {
      font-family: @nanumGothic;
      font-size: 20px;
    }

    h2 {
      margin-bottom: 10px;
      font-family: @nanumGothic;
      font-size: 15px;
    }

    h3 {
      font-weight: normal;
      font-family: @nanumGothic;
      font-size: 15px;
    }
  }
}