@hknu_orange: #e96d27;
@hknu_blue_dark: #00365e;
@title: 'Nanum Gothic', sans-serif;
@paragraph: 'Namum Gothic', sans-serif;

body {
  margin-top: 50px;

  aside {
    display: inline-block;
    width: 250px;
    padding: 15px;
    vertical-align: top;

    img {
      width: 100%;
      margin-bottom: 10px;
    }

    h1 {
      margin-bottom: 20px;
      font-family: @title;
      font-weight: 700;
    }

    ul {
      li {
        font-family: @paragraph;
        list-style-type: none;
      }
    }
  }

  article {
    display: inline-block;
    padding: 15px;
    width: calc(100% - 500px);

    h1 {
      font-family: @title;
      margin-bottom: 10px;
    }

    ul {
      margin-bottom: 20px;
      li {
        font-family: @paragraph;
        list-style-type: none;
      }
    }
  }
}