@hknu_orange: #e96d27;
@hknu_blue_dark: #00365e;
@title: 'Nanum Gothic', sans-serif;
@paragraph: 'Namum Gothic', sans-serif;

body {
  margin-top: 50px;

  .paper_item {
    padding: 15px 250px;
    text-align: center;

    h1 {
      margin-bottom: 10px;
      font-family: @title;
      font-size: 20px;
    }

    h2 {
      margin-bottom: 20px;
      font-family: @paragraph;
      font-size: 16px;
    }

    p {
      font-family: @paragraph;
      font-size: 14px;
    }
  }
}